@import url("https://fonts.googleapis.com/css2?family=Kablammo&family=Montserrat&display=swap");

*{
  margin:0;
  padding:0;
}
body {
background-color: whitesmoke;
}
:root{
  --heading:#F86F03;
  --back:#525FE1;
  --mon:'Montserrat';
  --kab:'Kablammo';
}
nav{
  width:100%;
  padding-top:2rem;
  

}
.logo{
  font-family: var(--kab);
  font-size:3em;
  display:inline-block;
  color:var(--heading);
text-decoration: underline;
font-weight: bold;
}
.list{
display:flex;
width:100%;
align-items: center;
justify-content: space-around;
margin:auto;
}
.list li{
  padding:0.3rem;
   
font-size:1.2em;
color:var(--heading);
  list-style-type: none;
font-weight:bold;
font-family:var(--mon);
}
.active{
border-bottom: 5px  dotted var(--back);
}
.list li:hover{
  cursor:pointer;
  
  box-shadow:2px 2px 10px var(--heading);
  border-radius: 5px;
}
.heading {
  font-weight:bold;
  font-family:var(--mon);
  font-size:2.5rem;
  display: block;
margin:5rem auto auto 8.5rem;
color:var(--back);
}
.product_container{
  display:flex;
  justify-content: space-evenly;
align-items: center;
flex-wrap: wrap;

}
.cart-item{
  text-align: center;
  width:30%;
  background-color:white;
padding:1.2rem;
margin:1.2rem;
border-radius:20px;
}
.cart-item img{
  width:120px;
}
.cart-item h4{
font-family:var(--mon);
color:var(--back);
margin-bottom: 1rem;
}
.cart-item button{
  border:none;
  font-weight:bold;
  background:var(--back);
  padding:0.5rem;
  border-radius:20px;
  font-family:var(--mon);
  color:white;
  
}
.cart-item button:hover{
  cursor: pointer;
  box-shadow:2px 2px 10px var(--back);
}
.error_message{
  font-family:var(--kab);
  color:var(--heading);
  text-align: center;
  font-size:3rem ;
  margin: 5rem auto;
}